@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
	
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	display: block;
	width: 100%;
}

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	/* font-family: 'Poppins', sans-serif; */
}

body {
	height: 100dvh;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding: 0 1rem 5rem 1rem;
}

main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
}

#header-logo img {
	width: 125px;
}

#try-button {
	width: 120px;
	height: 1.5rem;
	cursor: pointer;
	border-radius: 1rem;
	border: none;
	background-color: white;
	box-shadow: 1px 1px 10px grey;
}

.about-grid {
	display: grid;
	align-items: center;
	text-align: center;
	justify-content: center;
	grid-template-columns: auto;
	grid-template-rows:
		auto 
		auto
		auto
		auto
		auto;
	grid-template-areas:
		"header"
		"headline"
		"info-paragraph"
		"get-started-button"
		"mockups-image";
	padding: 2rem 0 3rem 0;
	background-image: url("../images/bg-hero-mobile.svg");
	background-color: hsl(193, 100%, 96%);
}

#header {
	grid-area: header;
}

#headline {
	grid-area: headline;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	width: 80%;
	margin: 0 auto;
}

#info-paragraph {
	grid-area: info-paragraph;
	padding-top: 2rem;
	width: 90%;
	margin: 0 auto;
}

#get-started-button {
	grid-area: get-started-button;
	background-color: hsl(322, 100%, 66%);
	width: clamp(20ch, 90%, 40ch);
	border: none;
	border-radius: 2rem;
	color: white;
	padding: 1lh 0 1lh 0;
	margin: 2rem auto 3rem auto;
}

#mockups-image {
	grid-area: mockups-image;
	max-width: clamp(20ch, 90%, 60ch);
	margin: 0 auto;
}